.form-label {
    font-weight: 400;
    margin-bottom: 8px;
  }
  
  .required {
    color: red;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .cancel-button {
    border: 1px solid #000; /* Add border */
    background-color: transparent; /* Remove background color */
    color: #000; /* Set text color */
  }
  
  .cancel-button:hover {
    background-color: white; /* Change background color on hover */
    color: blue; /* Change text color on hover */
  }
  
  .form-control:focus {
    border-color: red;
    outline: 0;
    outline-color: red;

  }
  